
<div class="{{item.className}} c-close-btn icf-close ts3" canny-mod="icon sliderCloseButton" canny-icon="x"></div>
<div class="{{item.className}} c-prev-btn icf-arrowLeft ts3" canny-mod="slider icon" canny-icon="chevron-left" canny-slider="{'id':'{{item.sliderId}}','type':'prev'}"></div>
<div class="{{item.className}} c-main" canny-mod="slider" canny-slider="{'id':'{{item.sliderId}}','autoInit':'false'}">
  <div class="c-wrap slider-content" data="{{item.imageHandler}}"></div>
</div>
<div class="{{item.className}} c-next-btn ts3" canny-mod="slider icon" canny-icon="chevron-right" canny-slider="{'id':'{{item.sliderId}}','type':'next'}"></div>
<div class="{{item.className}} c-paginationProgressWrap">
  <div class="c-paginationProgress" canny-mod="slider" canny-slider="{'id':'{{item.sliderId}}','type':'paginationProgress'}"></div>
</div>

